 <div class="comments">
    <% @book.book_comments.each do |book_comment| %>
    <tr>
    <td><%= book_comment.user.name %></td>
    <td><%= book_comment.comment %></td>
     <td><% if @book.user == current_user %>
      <div class="comment-delete">
      <%= link_to "Destroy", book_book_comment_path(book_comment.book_id, book_comment.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@book.id}" %>
       </div>
    <% end %>
       </td>
       </tr>
    <% end %>
  </div>